.poduct img{
 height: 286px;
 width: 286px;
 border-radius: 8px;
 margin: 9px;
}
.poduct p{
    margin-top: 0;
}
.poduct{
    width: 300px;
    height: 510px;
    border: 2px solid salmon;
    border-radius: 8px;
   position: relative;

}
.p-name{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
margin-top: 7px;
}
.info{
 margin: 0 14px;
}
.btn-card{
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}
.btn-card:hover{
    background-color: blueviolet;
}
